In [81]:
import pandas as pd

In [86]:
raw_file = "/Users/kristenhanold/Dropbox/My Mac (MacBook Air)/Downloads/covid_data_2021-04-27_1131.csv"

In [87]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
raw_df = pd.read_csv(raw_file)
raw_df

,study_id,redcap_survey_identifier,introduction_timestamp,country,state_in_india,state_in_us,province_in_china,state_other_countries,age,race_and_ethnicity,...,sector_of_contribution___4,sector_of_contribution___5,other,where_helped___1,where_helped___2,where_helped___3,where_helped___4,where_helped___5,other_where_helped,social_contributions_complete
0,1,NaN,[not completed],244.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,NaN,0
1,2,NaN,2020-04-16 14:47:21,244.0,NaN,NaN,NaN,NaN,2.0,NaN,...,0,0,NaN,0,0,0,0,0,NaN,0
2,3,NaN,2020-04-16 14:51:08,244.0,NaN,NaN,NaN,NaN,3.0,NaN,...,0,0,NaN,0,0,0,0,0,NaN,0
3,4,NaN,2020-04-16 14:53:14,9.0,NaN,NaN,NaN,NaN,3.0,NaN,...,0,0,NaN,0,0,0,0,0,NaN,0
4,5,NaN,2020-04-16 15:01:00,2.0,NaN,NaN,NaN,NaN,5.0,NaN,...,0,0,NaN,0,0,0,1,0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3418,3419,NaN,2021-03-07 21:37:29,2.0,32.0,NaN,NaN,NaN,7.0,1.0,...,0,0,NaN,0,0,0,0,0,NaN,2
3419,3420,NaN,2021-04-05 12:20:27,1.0,NaN,5.0,NaN,NaN,3.0,4.0,...,0,0,NaN,0,0,0,0,0,NaN,2
3420,3421,NaN,2021-04-05 12:59:12,2.0,21.0,NaN,NaN,NaN,2.0,1.0,...,0,0,NaN,0,0,0,0,0,NaN,0
3421,3422,NaN,2021-04-05 13:35:08,243.0,NaN,NaN,NaN,London,3.0,1.0,...,0,0,NaN,0,0,0,0,0,NaN,2
3422,3423,NaN,2021-04-06 04:23:53,2.0,37.0,NaN,NaN,NaN,2.0,1.0,...,0,0,NaN,0,0,0,0,0,NaN,0

In [93]:
raw_df.columns

Index(['study_id', 'redcap_survey_identifier', 'introduction_timestamp',
       'country', 'state_in_india', 'state_in_us', 'province_in_china',
       'state_other_countries', 'age', 'race_and_ethnicity',
       ...
       'sector_of_contribution___4', 'sector_of_contribution___5', 'other',
       'where_helped___1', 'where_helped___2', 'where_helped___3',
       'where_helped___4', 'where_helped___5', 'other_where_helped',
       'social_contributions_complete'],
      dtype='object', length=173)

In [111]:
grouped_raw_data = raw_df.groupby(['country'])
grouped_raw_data

grouped_raw_data